h1 {
    text-align: center;
    margin-top: 100px;
}
.img-lnk {
    width: 32px; height: 32px;
}
.cnt-info::after {
    content: attr(contenido);
}
.card-header-flex {
    display: flex;
    justify-content: space-between;
}
.card-header-btn-container {
    display: flex;
    flex-direction: row-reverse;
}